# Ignore all .DS_STORE files
.DS_STORE

# Ignore all temporary execution files
tempCodeRunnerFile.cpp

# Ignore all .vscode settings
.vscode

# ignore main.cpp and it's compiled version
main.cpp
main
main.dSYM/
